@import '../../styles/mixins';

.admin-admin-page {

}

.admin-user {
	border: 1px solid @primary;
	width: 200px;
	padding: 10px;
}

.admin-ship {
	border: 1px solid @primary;
	width: 200px;
	padding: 10px;
}


.admin-users {
	display: flex;
	flex-flow: row wrap;
}

.admin-ships {
	display: flex;
	flex-flow: row wrap;
}
