{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "extends": [
    "plugin:vue/essential",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-mixed-spaces-and-tabs": "error",
    "no-tabs": "off",
    "comma-dangle": "off"
  }
}
