@import '../../styles/mixins';

.layout-container {
	height: 100%;
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.announce {
	background-color: @bg;
	color: @warning;
}

.announce-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	& > * {
		border: 1px @primary dotted;
		padding: 10px;
	}
}
